Brotli==1.0.9
certifi==2021.10.8
cmd2==2.1.2
cryptography==3.4.7
MarkupSafe==2.0.1
ordereddict==1.1
pyOpenSSL==21.0.0
railroad==0.5.0
rich==11.0.0
setuptools==57.0.0
simplejson==3.17.2
typing_extensions==3.10.0.0
win_inet_pton==1.1.0
django
xlrd
requests
click
xlwt
attrdict
coloredlogs
frida
PyYAML
urllib3
urllib3>=1.8
ipaddress
ddddocr
aiohttp
mmh3==3.0.0
requests==2.25.1
urllib3==1.26.5
XlsxWriter==1.4.4
colorama==0.4.4
beautifulsoup4==4.10.0
lxml
pyreadline
PySocks>=1.7.1
Jinja2>=3.0.0
certifi>=2017.4.17
urllib3>=1.21.1
cryptography>=2.8
cffi>=1.14.0
defusedxml>=0.7.0
markupsafe>=2.0.0
pyopenssl>=21.0.0
idna>=2.5
chardet>=3.0.2
charset_normalizer~=2.0.0
requests>=2.27.0
requests_ntlm>=1.1.0
colorama>=0.4.4
ntlm_auth>=1.5.0
pyparsing>=2.4.7
gevent>=20.9
pycryptodome
